
html, body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow-x:hidden;
}

.skrollable {
    /*
     * First-level skrollables are positioned relative to window
     */
    position:fixed;

    /*
     * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
     */
    z-index:100;
}

.skrollr-mobile .skrollable {
    /*
            May cause issues on Android default browser (see #331 on GitHub).
    */
    position:absolute;
}

.skrollable .skrollable {
    /*
     * Second-level skrollables are positioned relative their parent skrollable
     */
    position:absolute;
}

.skrollable .skrollable .skrollable {
    /*
     * Third-level (and below) skrollables are positioned static
     */
    position:static;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body{
    background: #fff000;
    overflow: hidden;
    width:100%;
    height:100%;
}
.hsContent{
    text-align: center;
    width:100%;
}
.mobile-visible{
    display: none;
}
h1{
    color: black;
    font-family: Amatic SC;
    font-size: 72px;
    font-weight: 700;
    padding-top:70px;
    padding-bottom:70px;
    margin:0;
}
h3{
    font-size:60px;
    font-family: Amatic SC;   
}

.page-intro p{
    color: black;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    padding-bottom:100px;
    margin:0;
}
.page-intro figure{
    margin:0;
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#slide-1, #slide-2{
}
#slide-2, #slide-3{
    width:100%;
    max-height: 963px;
    top:200%;
    z-index: 10000;
}
#slide-2 .bcg{
    background-image:url(img/photo/bg/priscilla-du-preez-293218.jpg);
    background-position: center -770px;
}
#slide-3 .hsContent{
    z-index: 100000;
}
#slide-4 .bcg{
    background-image:url(img/photo/bg/pexels-photo-269141.jpg);  
    background-position: center -570px;
}
#slide-5 .bcg{
    background-image:url(img/photo/bg/bar-local-cong-ireland-63633.jpg);  
}
#slide-1 .bcg {
    background:transparent;
}
#slide-1 .hsContent, #slide-1 .hsContainer{
    width:100%;
}
.laptop-img-wrap{
    left:50%;
    top:56%;
    transform:translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
    width:1020px;
    height:880px;
    z-index: 10000000;
}
.progress-bar{
    max-width:400px;
    height:90px;
}
.desc{
    background:rgba(255, 255, 255, 0.9);
    padding:45px;
    max-width:800px;
    top:7%;
    z-index: 1000000;
}
.desc h3{
    font-weight:700;
    color: #282828;  
    padding-bottom:30px;
    margin:0;
    text-align:left;
}
.desc h3 span{
    color: #0a629a;
    text-align: left;
}
.desc-first-draft h3 span{
    color: #445b6f;
}
.desc-clarification h3 span{
    color: #28939a; 
}
.desc-rewrite h3 span{
    color: #863232; 
}
.desc-citations h3 span{
    color: #50397b;  
}
.desc-profreading h3, .desc.desc-profreading p, .desc.desc-breaks p, .desc.desc-priceles p{
    text-align: right;
}
.desc-profreading h3 span{
    color: #2186a4;
}
.desc-snacks h3 span{
    color: #e58616;   
}
.desc-breaks h3 span{
    color: #5675a7;   
}
.desc.desc-breaks{
    max-width:500px;
}
.desc-catnap h3 span{
    color: #9c5114;  
}
.desc-protein-bars h3 span{
    color: #9a7d36;
}
.desc-coffee h3 span{
    color: #285889;  
}
.desc-sushi h3 span{
    color: #527322; 
}
.desc-water h3 span{
    color: #2e679c;   
}
.desc-priceles h3 span{
    color: #7b3535;   
}
.desc-drink h3 span{
    color: #a47e2b;   
}
.desc p{
    color: black;
    font-family: Roboto;
    font-size: 16px;
    text-align:left;
}
.desc .author{
    text-align:right;
    font-weight: 300;
    font-style: italic;
    font-family: Roboto;
    font-size:16px;
    line-height: 30px;
}
.book{
    max-width:600px;
    width:100%;
}
.book-one img{
    width:100%;
}
.laptop-display{
    text-align: center;
    z-index: 100000;
    width:100%;
    height:100%;
    max-width:752px;
    max-height:436px;
    top:20%;left:40%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
}

.laptop-display > img{
    position: absolute !important;
    z-index: 1000000;
}
.skype-window{
    max-width: 450px;
    width: 100%;
    left: 59%;
    top: -20%;
    transform: translate(-50%); 
}
.load-bar{
    max-width: 500px;
    width: 100%;
    left: 55%;
    top: -6%;
    transform: translate(-50%);
}
.red-line1{
    left: 18%;
    top: -3%;
    width: 420px;
}
.red-line3{
    right: 10%;
    width: 100px;
    top: -12%;
}
.red-line2{
    left: 18%;
    width: 300px;
    top: 12%;
}
.red-line4{
    left: 16%;
    width: 250px;
    top: -12%;
}
.red-line5{
    left: 16%;
    width: 150px;
    top: -22%;
}
.red-line6{
    right: 9%;
    width: 150px;
    top: -22%;
}
.red-line7{
    right: 9%;
    width: 150px;
    top: 24%;
}
.red-line8{
    left: 17%;
    width: 150px;
    top: 32%;;
}
.red-line9{
    left:34%;
    width: 150px;
    top:32%;
}
.line1{
    left: 17%;
    max-width: 550px;
    top: -24%;
    height: 20px;
}
.line2{
    left: 17%;
    max-width:550px;
    top:-15%;
    height:20px;
}
.line3{
    left: 17%;
    max-width:550px;
    top:-5%;
    height:20px;
}
.line4{
    left: 18%;
    max-width: 550px;
    top: 10%;
    height:20px;
}
.line5{
    left: 18%;
    max-width:550px;
    top: 22%;
    height:20px;
}
.line6{
    left: 18%;
    max-width:550px;
    top: 30%;
    height:20px;
}
.load-bar-per{
    height: 70px;
    left: 25%;
    top: -4%;
}
.professor{
    width: 100%;
    left: 39%;
    top: -22%;
    max-width: 250px;
}
.banana01{
    width:533px;  
    top: 60%;
    left: 10%;
    z-index: 10000000;
}
.banana02{
    width:500px;
    top: 65%;
    right:5%;
    z-index: 10000000;
}
.banana01 img, .banana02 img{
    width:100%;
    height:100%;
}
.youtube{
    width: 474px;
    left: 22%;
    top: -33%;
}
.cat-yt{
    max-width: 390px;
    left: 28%;
    top: -25%;
}
.cat2{
    left:0;
    bottom:5%;
    z-index: 100000;
    width:600px;
}
.cat5{
    top:0;
    z-index: 100000000;
    width:388px;
}
.cat4{
    top:-20%;
    z-index: 100000;
    width:600px;
}
.cat3{
    bottom:-12%;
    z-index: 1000000;
    width:740px;
}
.cat1 img, .cat2 img, .cat3 img, .cat4 img, .cat5 img{
    width:100%;
}
.battery1{
    max-width: 370px;
    left: 31%;
    top: -16%;
}
.battery2{
    max-width: 70px;
    top: -9%;
    left: 40%;
}
.emoji{
    width:200px;
    height:200px;
    z-index: 1000000000;
}
.emoji img{
    width:100%;
    height:100%;
}
.emoji1{
    left:32%;  
}
.emoji2{
    right:8%;
}
.emoji3{
    right:12%;
    width:170px;
    height:170px;
}
.emoji4{
    right:20%;
}
.protein-bar{
    width:400px;
    top:75%;
    left:11%;
    z-index: 10000;
}
.protein-bar2{
    top:76%;
    left:50%;
}
.protein-bar4{
    top:76%;
    left:30%;
}
.protein-bar3{
    top:70%;
    left:69%;
}
.protein-bar img, .coffee img, .sushi img, .water img, .man img{
    width:100%;
    height:100%;
}
.coffee{
    width:300px;
    z-index: 10000;
}
.coffee1{
    left:14%;
    top:40%;
}
.coffee2{
    right:7%;
    top:45%;
}
.coffee3{
    right:7%;
    top:7%;
}
.sushi{
    width:550px;
    z-index: 100000000;
    top:64%;
    left:30%;
}
.water{
    width:200px;
    z-index: 10000;
    top:26%;
}
.water1{
    left:15%;
}
.water2{
    right:10%;
}
.man{
    left:50%;
    transform:translate(-50%);
    -webkit-transform:translate(-50%);
    width:1300px;
    z-index: 1000000000;
}
.man img{
    opacity: 0.7;
}
.last-photo{
    right:20%;
}
.load-bar-per{

}
.time{
    bottom:3%;
    left:3%;
    text-align:left;
}
.money{
    bottom:3%;
    right:3%;
    text-align: right;
}
.time div:first-of-type, .money div:first-of-type{
    color:rgba(0, 0, 0 , 0.5);
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    text-transform: uppercase;  
}
.time div:last-of-type, .money div:last-of-type{
    color: #282828;
    font-family: Amatic SC;
    font-size: 64px;
    font-weight: 700;
}
.last-photo{
    transform:rotate(10deg);
    -webkit-transform: rotate(10deg);
    z-index: 100000000;
}
.links-content{
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    padding:50px;
}
.links-content a{
    display: block;
    text-align: left;
    padding-bottom:10px;
    color:#0c3eb1;
    font-size:12px;
    font-family: Roboto;
}
.links-content .left-col{
    float:left;

}
.links-content .left-col a:nth-of-type(2n){
    color:#ad1830;
}
.links-content .right-col a:nth-of-type(2n+1){
    color:#ad1830;
}
.links-content .right-col{
    float:right;

}
.book{
    z-index: 10000000;
}
.laptop-img-close{
    top:43%;
}
@media(max-width:1920px){
    .last-photo{
        width:500px;
    }
    .last-photo img{
        width:100%;
    }
    .page-intro img{
        width:500px;
        height:500px;
    }
    .desc.desc-breaks{
        max-width:500px;
    }
    .page-intro h1{
        padding:30px 0 30px 0;
    }
    .laptop-img-wrap{
        width:800px;
    }
    .desc{
        max-width:450px;
    }
    .skype-window{
        left: 56%;
        top: -31%;
    }

}
@media(max-width:1600px){
    #slide-2 .bcg {
        background-position: center -640px;
    }
    h1{
        font-size:55px;
        padding:30px 0 30px 0;
    }
    .laptop-img-wrap{
        width:600px;
        top:70%;
    }
    .laptop-img-wrap .laptop-img{
        max-width:600px;
    }
    .load-bar{
        width: 385px;
        left: 51%;
        top: -17%;
    }
    .load-bar-per {
        height: 46px;
        left: 22%;
        top: -14%;
    }
    .skype-window{
        max-width:350px;
        width: 100%;
        left: 51%;
        top:-36%;
        transform: translate(-50%); 
    }
    .professor{
        max-width:200px; 
        left: 37%;
        top: -28%;
    }
    .line1 {
        left: 19%;
        top: -33%;
        max-width:380px;
    }
    .line2 {
        left: 19%;
        max-width:370px;
        top:-19%;
    }
    .line3 {
        max-width:370px;
        left: 19%;
        top: -26%;
    }
    .line4 {
        left: 19%;
        top: -10%;
        max-width:360px;
    }
    .line5 {
        max-width:380px;
        left: 19%;
        top: 0%;
    }
    .line6 {
        max-width:350px;
        left: 19%;
        top: 8%;
    }
    .book{
        max-width:400px;
        width:100%;
    }
    .cat-yt {
        max-width: 283px;
        left: 28%;
        top: -28%;
    }
    .youtube{
        width:350px;
        top:-35%;
    }
    .battery1{
        max-width:230px;
        left:34%;
        top:-21%;
    }
    .battery2{
        max-width:50px;
        top: -18%;
        left: 37%;
    }
    .protein-bar{
        width:300px;
        top:71%;
        left:10%;
        z-index: 1000000002;
    }
    .protein-bar2{
        top:71%;
        left:50%;
    }
    .protein-bar4{
        top:71%;
        left:25%;
    }
    .protein-bar3{
        top:70%;
        left:70%;
    }
    .coffee{
        width:250px;
        z-index: 10000;
    }
    .coffee3 {
        right: 7%;
        top: 12%;
    }
    .sushi{
        width:440px;
    }
    .water{
        width:200px;
    }
    .red-line5 {
        left: 18%;
        width: 114px;
        top:-30%;
    }
    .red-line4 {
        left: 18%;
        width: 220px;
        top: -24%;
    }
    .red-line3 {
        right: 19%;
        width: 75px;
        top: -6%;
    }
    .red-line6 {
        right: 18%;
        width: 116px;
        top: -16%;
    }
    .red-line1 {
        left: 19%;
        top:3%;
        width: 300px;
    }
    .red-line9 {
        left: 34%;
        width: 125px;
        top: 11%;
    }
    .red-line7 {
        right: 21%;
        width: 132px;
        top: 11%;
    }
    .red-line2 {
        left: 26%;
        width: 233px;
        top: -17%;
    }
    .red-line8 {
        left: 18%;
        width: 101px;
        top: 11%;
    }
    .time{
        left:2%;
    }
    .money{
        right:2%;
    }
    .time div:last-of-type, .money div:last-of-type{
        font-size:70px;
    }
    .desc{
        padding:13px;
    }
    .cat3{
        z-index: 100000000;
        width: 620px;
    }
    .cat2{
        width:440px;
    }
    .cat4{
        top: -15%;
        z-index: 100000;
        width: 515px;
    }
}
@media(max-width:1366px){
    h1{
        font-size:50px;
        padding:20px 0 20px;
    }
    .page-intro img{
        width:300px;
        height:300px;
    }
    .page-intro p{
        font-size:24px;
    }
    .desc{
        max-width:300px;
        padding:10px;
    }
    .desc h3{
        padding-bottom:10px;
    }

    .banana01{
        width: 381px;
        top: 50%;
        z-index: 100000000;

    }
    .banana02{
        width: 330px;
        top: 60%;
        z-index: 100000000;
    }

    .emoji{
        width:100px;
        height:100px;
    }
    .protein-bar{
        width:276px;
        top:71%;
        left:15%;
    }
    .protein-bar2{
        top:71%;
        left:40%;
    }
    .protein-bar4{
        top:71%;
        left:25%;
    }
    .protein-bar3{
        top:70%;
        left:60%;
    }
    .sushi{
        width:290px;
    }
    .water{
        width:100px;
    }
    .man{
        width:805px;
    }
    .last-photo{
        width:300px;
    }
    .last-photo img{
        width:100%;
    }
    #slide-4 .bcg {
        background-image: url(img/photo/bg/pexels-photo-269141.jpg);
        background-position: center -398px;
    }
    #slide-2 .bcg {
        background-position: center -592px;
    }
    .cat4{
        width:380px;
    }
    .cat2{
        width:315px;
    }
    .cat5{
        top: -48px;
        width: 330px;
    }
    .cat3{
        width: 472px;
    }
    .desc.desc-breaks {
        max-width: 484px;
        z-index: 1000000000;
    }
    .coffee {
        width: 176px;
    }
    .laptop-img-close {
        top: 29%;
    }
}
@media(max-width:1280px){
    .coffee3{
        top: 19%;
    } 
    .coffee1{
        top:47%;
    }
    .water{
        top:37%;
    }
    .desc h3{
        font-size:50px;
        line-height:50px;
    }
    .man{
        width: 977px;

    }
}
@media(max-width:1024px){
    #slide-2 .bcg {
        background-position: center -415px;
    }  
    .laptop-img-wrap {
        width: 500px;
        top: 79%;
    }
    .desc p{
        font-size:14px;
    }
    .load-bar {
        width: 340px;
        left: 51%;
        top: -22%;
    }
    .load-bar-per {
        height: 38px;
        left: 22%;
        top: -20%;
    }
    .skype-window {
        max-width: 270px;
        left: 50%;
    }
    .professor {
        max-width: 140px;
    }
    .line1 {
        left: 19%;
        top: -33%;
        max-width:330px;
        height:15px;
    }
    .line2 {
        left: 19%;
        max-width:310px;
        top:-19%;
        height:15px;
    }
    .line3 {
        max-width:300px;
        left: 19%;
        top: -26%;
        height:15px;
    }
    .line4 {
        left: 19%;
        top: -12%;
        max-width:320px;
        height:15px;
    }
    .line5 {
        max-width:330px;
        left: 19%;
        top: -5%;
        height:15px;
    }
    .line6 {
        max-width:310px;
        left: 19%;
        top: 1%;
        height:15px;
    }
    .red-line1 {
        left: 17%;
        top: 3%;
        width: 230px;
    }
    .red-line2 {
        left: 19%;
        width: 176px;
        top: -17%;
    }
    .red-line4 {
        left: 18%;
        width: 159px;
        top: -24%;
    }
    .red-line5 {
        left: 18%;
        width: 90px;
        top: -31%;
    }
    .red-line6 {
        right: 18%;
        width: 92px;
        top: -17%;
    }
    .red-line7 {
        right: 15%;
        width: 100px;
        top: -3%;
    }
    .red-line8 {
        left: 18%;
        width: 91px;
        top: -10%;
    }
    .red-line9 {
        left: 46%;
        width: 97px;
        top: -10%;
    }
    .youtube {
        width: 275px;
        top: -35%;
    }
    .cat-yt {
        max-width: 205px;
        left: 28%;
        top: -28%;
    }
    .battery1 {
        max-width: 189px;
        left: 34%;
        top: -26%;
    }
    .coffee2 {
        right: 0%;
        top: 45%;
    }
    .coffee1 {
        left: 7%;
        top: 40%;
    }
    .coffee3 {
        right: 0%;
    }
    .water2 {
        right: 6%;
    }
    .links-content{
        padding:10px;
    }
    .links-content .left-col {
        float: left;
        width: 50%;
    }
    .links-content a{
        line-height:14px;
    }
}
@media(max-width:800px){
    .desc h3{
        font-size:40px;
        line-height:34px;
    }
    .desc p {
        font-size: 12px;
        margin: 0;
    }
    .desc .author{
        font-size:12px;
    }
    .page-intro p {
        font-size: 18px;
    }
    #slide-2 .bcg {
        background-position: center -320px;
    }
    .laptop-img-wrap {
        width: 420px;
        top: 94%;
    }
    .professor {
        max-width: 100px;
    }
    .skype-window {
        max-width: 215px;
    }
    .load-bar {
        width: 245px;
        left: 49%;
        top: -23%;
    }
    .load-bar-per {
        height: 31px;
        left: 22%;
        top: -21%;
    }
    .line1 {
        left: 16%;
        top: -36%;
        max-width: 278px;
        height: 10px;
    }
    .line3 {
        max-width: 240px;
        left: 16%;
        top: -30%;
        height: 10px;
    }
    .line2 {
        left: 16%;
        max-width: 260px;
        top: -23%;
        height: 10px;
    }
    .line4 {
        left: 16%;
        top: -16%;
        max-width: 250px;
        height: 10px;
    }
    .line5 {
        max-width: 277px;
        left: 16%;
        top: -11%;
        height: 10px;
    }
    .line6 {
        max-width: 265px;
        left: 16%;
        top: -6%;
        height: 10px;
    }
    #slide-4 .bcg {
        background-image: url(img/photo/bg/pexels-photo-269141.jpg);
        background-position: center -321px;
    }
    .red-line1 {
        left: 14%;
        top: -35%;
        width: 230px;
    }
    .red-line2 {
        left: 16%;
        width: 176px;
        top: -22%;
    }
    .red-line3 {
        right: 22%;
        width: 75px;
        top: -5%;
    }
    .red-line5 {
        left: 15%;
        width: 90px;
        top: -29%;
    }
    .red-line6 {
        right: 22%;
        width: 92px;
        top: -15%;
    }
    .red-line7 {
        right: 55%;
        width: 100px;
        top: -5%;
    }
    .cat-yt {
        max-width: 180px;
        left: 28%;
        top: -32%;
    }
    .youtube {
        width: 230px;
        top: -37%;
    }
    .time div:last-of-type, .money div:last-of-type {
        font-size: 40px;
    }
    .banana01{
        width:240px;
    }
    .banana02{
        width:200px;
    }
    .battery1 {
        max-width: 146px;
        left: 34%;
        top: -29%;
    }
    .protein-bar{
        width:180px;
    }
    .protein-bar1{
        left:8%;
    }
    .protein-bar2{
        left:46%;
    }
    .protein-bar3{
        left:64%;
    }
    .coffee {
        width: 128px;
    }
    .coffee3 {
        top: 21%;
    }
    .water1 {
        top: 30%;
        left: 5%;
    }
    .water2 {
        right: -1%;
        top: 30%;
    }
    .man {
        width: 600px;
        bottom: -5%;
    }
    .laptop-img-close.top {
        top: 1%;
    }
    .links-content .left-col, .links-content .right-col{
        float:none;
        width:100%;
    }
    .mobile-visible{
        display: block;
        max-height:300px;
    }
}
@media(max-width:640px){

    .load-bar-per {
        height: 20px;
        left: 26%;
        top: -20%;
    }
    .load-bar {
        width: 220px;
        left: 50%;
        top: -22%;
    }
    .laptop-img-wrap {
        width: 420px;
        top: 87%;
        left: 45%;
    }
    .skype-window{
        max-width: 170px;
        width: 100%;
        left: 50%;
        top: -31%;
    }
    .professor {
        max-width: 98px;
        left: 38%;
        top: -27%;
    }
    .man {
        left: 45%;
    }
    .book {
        z-index: 100000000;
        margin: 0 67px 0 0;
    }
    .red-line5 {
        left: 18%;
        width:30px;
        top: -13%;
    }
    .red-line4 {
        left: 18%;
        width: 100px;
        top: -7%;
    }
    .red-line3 {
        right:25%;
        width: 30px;
        top: -6%;
    }
    .red-line6 {
        right: 25%;
        width: 30px;
        top: -13%;
    }
    .red-line1 {
        left: 19%;
        top: 1%;
        width: 30px;
    }
    .red-line9 {
        left: 34%;
        width: 50px;
        top: 21%;
    }
    .red-line7 {
        right:26%;
        width: 30px;
        top: 21%;
    }
    .red-line2 {
        left: 26%;
        width: 100px;
        top: 7%;
    }
    .red-line8 {
        left: 18%;
        width: 30px;
        top: 22%;
    }
    .banana01{
        left:-6%;
    }
    .banana02{
        right:-4%;
    }
    .cat2 {
        width: 206px;
    }
    .cat4 {
        width: 240px;
        top:-5%;
    }
    .cat5{
        width: 233px;
    }
    .cat3 {
        width: 350px;
        bottom: -1%;
    }
    .desc.desc-breaks {
        max-width: 366px;
    }
    .youtube {
        width: 229px;
    }
    .cat-yt {
        max-width: 181px;
    }
    .battery1 {
        max-width: 140px;
    }
    .battery2 {
        max-width: 16px;
    }
    .protein-bar {
        width: 185px;
        top: 61%;
        left: -3%;
    }
    .protein-bar4 {
        top: 63%;
        left: 23%;
    }
    .protein-bar3 {
        top: 65%;
        left: 64%;
    }
    .protein-bar2 {
        top: 68%;
        left: 46%;
    }
    .coffee1{
        left: 15%;
        top:55%;
    }
    .coffee2 {
        right: -2%;
        top: 56%;
    }
    .coffee3 {
        top:40%;
        right: -2%;
    }
    .coffee {
        width: 106px;
        z-index: 100000001;
    }
    .last-photo {
        width: 215px;
    }
}
@media(max-width:480px){
    .cat3 {
        width: 230px;
        bottom: 0%;
    }
    .page-intro img {
        width:236px;
        height:236px;
    }
    .laptop-img-wrap{
        width:300px;
        top: 95%;
        left: 42%;
    }
    h1{
        font-size: 80px;
        line-height: 70px;
    }
    .page-intro p {
        font-size: 16px;
    }
    .time div:last-of-type, .money div:last-of-type {
        font-size: 48px;
        font-weight: 700;
    }
    .load-bar {
        width: 180px;
        left: 44%;
        top: -30%;
    }
    .load-bar-per {
        height: 21px;
        left: 18%;
        top: -29%;
    }
    .desc {
        max-width: 412px;
    }
    .skype-window{
        left: 45%;
        top: -39%;
    }
    .professor{
        left: 29%;
        top: -35%;
    }
    .line1 {
        left: 13%;
        top: -38%;
        max-width: 185px;
        height: 7px;
    }
    .line2 {
        left: 13%;
        max-width: 190px;
        top: -31%;
        height: 7px;
    }
    .line3 {
        max-width: 160px;
        left: 13%;
        top: -35%;
        height: 7px;
    }
    .line4 {
        left: 13%;
        top: -27%;
        max-width: 187px;
        height: 7px;
    }
    .line5 {
        max-width: 172px;
        left: 13%;
        top: -23%;
        height: 7px;
    }
    .line6 {
        max-width: 196px;
        left: 13%;
        top: -19%;
        height: 7px;
    }
    .book{
        max-width: 310px;
    }
    .red-line1 {
        left: 14%;
        top: -36%;
        width: 30px;
    }
    .red-line2 {
        left: 26%;
        width: 59px;
        top: -34%;
    }
    .red-line3 {
        right: 25%;
        width: 26px;
        top: -37%;
    }
    .red-line4 {
        left: 13%;
        width: 55px;
        top: -30%;
    }
    .red-line5 {
        left: 13%;
        width: 30px;
        top: -18%;
    }
    .red-line6 {
        right: 25%;
        width: 30px;
        top: -26%;
    }
    .red-line7 {
        right: 26%;
        width: 30px;
        top: -18%;
    }
    .red-line8 {
        left: 18%;
        width: 30px;
        top: -22%;
    }
    .red-line9 {
        left: 34%;
        width: 40px;
        top: -26%;
    }
    .youtube {
        width: 170px;
        top: -39%;
        left: 16%;
    }
    .cat-yt {
        max-width: 137px;
        left: 23%;
        top: -36%;
    }
    .battery1 {
        max-width: 120px;
        left: 26%;
        top: -34%;
    }
    .emoji1 {
        left: -3%;
        width:35px;
        height:35px;
    }
    .emoji4 {
        right: 8%;
        width:63px;
        height:63px;
    }
    .emoji2{
        width:63px;
        height:63px;
    }
    .emoji3{
        width:70px;
        height:70px;
        right:45%;
    }
    .protein-bar {
        width:90px;
    }
    .sushi {
        width: 210px;
        left:12%;
    }
    .water {
        width: 60px;
        top:46%;
        z-index: 100000000;
    }
    .man {
        width: 426px;
        bottom: -5%;
    }
    .laptop-img-close.top {
        top: -2%;
    }
    .book {
        max-width: 280px;
        margin:0 20px 0 0;
    }
    .cat4 {
        width: 177px;
        top: 23%;
        z-index: 100000001;
    }
    .cat5 {
        width: 152px;
        top:27%;
    }
    .coffee {
        width: 70px;
    }
    .coffee1 {
        left: -3%;
        top: 48%;
    }
    .coffee2 {
        right: -6%;
        top: 48%;
    }
    .coffee3 {
        top: 35%;
        right: -6%;
    }
    .links-content a {
        line-height: 11px;
    }
}

